@font-face {
  font-family: 'iconfont';  /* Project id 3126853 */
  src: url('//at.alicdn.com/t/font_3126853_7xw26u9lwnh.woff2?t=1649693305403') format('woff2'),
       url('//at.alicdn.com/t/font_3126853_7xw26u9lwnh.woff?t=1649693305403') format('woff'),
       url('//at.alicdn.com/t/font_3126853_7xw26u9lwnh.ttf?t=1649693305403') format('truetype'),
       url('//at.alicdn.com/t/font_3126853_7xw26u9lwnh.svg?t=1649693305403#iconfont') format('svg');
}
.my-iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.icon-email:before {
    content: "\e601";
  }
}
