@import "./normalize.scss";
@import "./unifyStyle.scss";
@import "./fontIcon.scss";

body {
  padding: 0 !important;
  margin: 0 !important;
}
html, body, #app {
  width: 100%;
  height: 100%;
}
.a-style {
  display: inline-block;
  color: #444444;
  font-family: SourceHanSansSC-Regular;
  font-size: 18px;
  height: 40px;
  line-height: 39px;
  padding: 0 20px;
}